<div ng-app class="container">
    <div class="row">
        <h2>Welcome to our {{pageheading}}.</h2><br /><br />
    </div>
    <div>
        <table>
            <thead> This is About Us page and this is a test sample data</thead><br /><br />
            <p>
                The White House is a fantastic example of an About Page that makes staff and organization members appear more approachable. <br />
                There is a heavy emphasis on the story of the President and other main members and this really makes you want to dive deeper into their histories and policies.<br />

                The stories all intertwine to make a clear message about the goals that the Government are trying to achieve. <br />
                Whether you agree or not, you get somewhat swept up in it all. Stories are a powerful way to convey ideas and should play an important part in any About Page.<br /><br />

                Okay I’m just going to say it. <br />
                Tumblr’s About Us page is probably the best of the lot. It is perfect. <br />
                It is what you want to achieve when you set out to craft an amazing About Us page that captivates your readers, gets them hooked in to your ideas and still tells them the nitty gritty about who you are.

                Check out the page and you will see the first part devoted to mass social proof – stats of how many people are using the service. <br />
                Then you get high definition photography of the people and the offices followed by 36 words that make up the sharpest concept copy you will ever read.<br />

                Scroll down further, however, and you see something interesting. <br />
                They let other brands tell you what Tumblr is.<br />
                They have sound bites from the New York Times, Forbes and Business Week telling you what Tumblr does and why it does it so well.<br />
                The chosen quotes are short but they paint you a full picture of the service.<br />

                The last thing they show you is a growth chart. Need they say more?<br />
            </p>
        </table>
    </div>
</div>
