/* font families */
@import url("https://fonts.googleapis.com/css?family=Roboto:100,100i,300,300i,400,400i,500,500i,700,700i,900,900i");
/* colours */
/* buttons */
/* global */
html,
body {
  background: #fafafa;
  margin: 0;
  padding: 0;
  transition: all 0.5s ease; }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  transition: all 0.5s ease; }
  body h1,
  body h2,
  body h3,
  body h4,
  body h5,
  body h6 {
    font-family: "Roboto", sans-serif;
    font-weight: 500; }
  body a {
    transition: all 0.5s ease; }
  body .table tr:last-child td {
    border-bottom: 3px solid #eceeef; }
  body .table tr th {
    padding: 10px;
    border-top: 0;
    font-size: 12px;
    color: #201b50;
    vertical-align: middle; }
  body .table tr td {
    padding: 5px 10px;
    font-size: 12px;
    color: #666666;
    vertical-align: middle; }
  body .tooltip-inner {
    border-radius: 0;
    font-size: 12px; }
  body .form-control {
    border-radius: 0; }
  body .modal .modal-dialog .modal-content {
    border-radius: 0; }
    body .modal .modal-dialog .modal-content .modal-header {
      color: white; }
      body .modal .modal-dialog .modal-content .modal-header .modal-title {
        font-family: "Roboto", sans-serif;
        font-weight: 300; }
      body .modal .modal-dialog .modal-content .modal-header .close span {
        color: white; }

/* header */
header {
  padding: 25px 0;
  background: white; }
  header .user {
    font-size: 12px;
    color: #727272;
    text-align: right; }

/* breadcrumbs */
.breadcrumbs {
  padding: 5px 0;
  background: #f2f2f2; }
  .breadcrumbs ol {
    margin-bottom: 0; }
    .breadcrumbs ol.breadcrumb {
      padding: 5px 10px;
      border-radius: 0;
      background: #e6e6e6; }
      .breadcrumbs ol.breadcrumb .breadcrumb-item {
        text-transform: uppercase;
        font-size: 12px; }
        .breadcrumbs ol.breadcrumb .breadcrumb-item.active {
          font-size: 12px;
          color: #ee2842; }
        .breadcrumbs ol.breadcrumb .breadcrumb-item a {
          font-size: 12px;
          color: #a4a4a4; }
          .breadcrumbs ol.breadcrumb .breadcrumb-item a:hover {
            color: #ee2842; }

/* main */
.modal-backdrop {
  display: none; }

.modal .modal-dialog .modal-content .modal-header.red {
  background: #ee2842; }

.modal .modal-dialog .modal-content .modal-header.green {
  background: #00b098; }

.modal .modal-dialog .modal-content .modal-header.blue {
  background: #201b50; }

.modal .modal-dialog .modal-content .modal-body p {
  margin: 15px 0; }

.modal .modal-dialog .modal-content .modal-body label {
  font-size: 12px; }

.modal .modal-dialog .modal-content .modal-body .btn-go {
  background-color: #00b098;
  border-width: 0;
  border-radius: 0;
  color: white;
  cursor: pointer; }
  .modal .modal-dialog .modal-content .modal-body .btn-go:hover {
    background-color: #007d6c;
    border-width: 0;
    border-radius: 0;
    color: white; }
  .modal .modal-dialog .modal-content .modal-body .btn-go.orange {
    background-color: #f26924; }
    .modal .modal-dialog .modal-content .modal-body .btn-go.orange:hover {
      background-color: #d6500d; }

main {
  padding: 25px 0;
  position: relative;
  z-index: 1; }
  main.task-details-page {
    background: #f7f7f7; }
  main .status {
    width: 250px; }
    main .status .status-block {
      height: 30px;
      width: 250px;
      color: white; }
    main .status .status-icon {
      float: right;
      color: white;
      width: 30px;
      text-align: center;
      font-size: 18px; }
    main .status .can-start,
    main .status .task-progress,
    main .status .ontime-status {
      position: absolute;
      left: -220px;
      z-index: 9999;
      transition: all 0.5s ease; }
      main .status .can-start:hover,
      main .status .task-progress:hover,
      main .status .ontime-status:hover {
        left: 0; }
    main .status .can-start.yes {
      background: #00b098; }
    main .status .can-start .can-start-info {
      padding: 0 10px;
      float: left;
      font-size: 12px;
      color: white; }
    main .status .task-progress {
      top: 89px; }
      main .status .task-progress.not-started {
        background: #999999; }
      main .status .task-progress.started {
        background: #f26924; }
      main .status .task-progress.stopped {
        background: #ee2842; }
      main .status .task-progress.completed {
        background: #00b098; }
      main .status .task-progress .task-progress-option {
        float: left; }
        main .status .task-progress .task-progress-option .dropdown .btn-secondary {
          border: 0;
          border-radius: 0;
          background: transparent;
          color: white; }
          main .status .task-progress .task-progress-option .dropdown .btn-secondary.btn-sm {
            font-size: 12px; }
        main .status .task-progress .task-progress-option .dropdown .dropdown-menu {
          background: #999999; }
          main .status .task-progress .task-progress-option .dropdown .dropdown-menu .dropdown-item {
            color: white;
            font-size: 12px; }
    main .status .ontime-status {
      top: 57px; }
      main .status .ontime-status.pending {
        background: #f26924; }
      main .status .ontime-status .ontime-status-info {
        padding: 0 10px;
        float: left;
        font-size: 12px;
        color: white; }
  main .recorded-hours .todays-recorded-hours {
    display: block; }
    main .recorded-hours .todays-recorded-hours .todays-info {
      padding: 7px 10px 8px;
      background: #00b098;
      display: inline-block;
      font-size: 14px;
      color: white; }
    main .recorded-hours .todays-recorded-hours .edit-hours {
      padding: 5px 10px 4px;
      float: left;
      background: #f26924; }
      main .recorded-hours .todays-recorded-hours .edit-hours a {
        color: white;
        font-size: 18px; }
  main .recorded-hours .yesterdays-recorded-hours {
    display: block; }
    main .recorded-hours .yesterdays-recorded-hours .yesterday-info {
      padding: 3px 0;
      display: inline-block;
      font-size: 12px;
      color: #727272; }
  main .daterangepicker,
  main .dropdown-menu {
    border-radius: 0 !important;
    border: 0 !important; }
  main .daterangepicker .btn-apply {
    font-size: 12px;
    padding: 5px 10px;
    background-color: #00b098;
    border-width: 0;
    border-radius: 0;
    color: white; }
  main .my-work-list {
    padding: 25px 0; }
    main .my-work-list h1 {
      padding: 15px 0;
      color: #201b50;
      font-size: 24px; }
    main .my-work-list h2 {
      margin-top: 10px;
      padding: 15px 0;
      border-top: 1px solid #e6e6e6;
      border-bottom: 1px solid #e6e6e6;
      font-family: "Roboto", sans-serif;
      font-weight: 300;
      color: #999999;
      font-size: 16px;
      text-transform: uppercase; }
    main .my-work-list .btn-add-nonschedule {
      font-size: 24px;
      padding: 5px 10px;
      background-color: #ee2842;
      border-width: 0;
      border-radius: 0;
      color: white; }
    main .my-work-list .task-list .tasks .nav-pills {
      margin: 25px 0 0;
      border-bottom: 1px solid #f2f2f2; }
      main .my-work-list .task-list .tasks .nav-pills .nav-item .nav-link {
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        color: #999999;
        font-size: 16px;
        text-transform: uppercase;
        transition: all 0.5s ease; }
        main .my-work-list .task-list .tasks .nav-pills .nav-item .nav-link:hover {
          color: #00b098; }
        main .my-work-list .task-list .tasks .nav-pills .nav-item .nav-link.active {
          border-radius: 0;
          background: transparent;
          cursor: pointer;
          color: #00b098;
          background: #f2f2f2; }
    main .my-work-list .task-list .tasks .task-content {
      padding: 15px;
      display: none;
      background: #f2f2f2; }
      main .my-work-list .task-list .tasks .task-content.open {
        display: block; }
      main .my-work-list .task-list .tasks .task-content .card {
        margin-bottom: 5px;
        border-radius: 0;
        border: 0; }
        main .my-work-list .task-list .tasks .task-content .card .card-header {
          border-radius: 0;
          border: 0;
          border-left: 3px solid #c9bd0a;
          font-family: "Roboto", sans-serif;
          font-weight: 500;
          font-size: 12px;
          background: #e6e6e6; }
          main .my-work-list .task-list .tasks .task-content .card .card-header span {
            cursor: pointer; }
          main .my-work-list .task-list .tasks .task-content .card .card-header a {
            color: #201b50; }
            main .my-work-list .task-list .tasks .task-content .card .card-header a:hover {
              color: #f26924; }
        main .my-work-list .task-list .tasks .task-content .card .card-block {
          font-size: 12px;
          border: 0; }
      main .my-work-list .task-list .tasks .task-content .table td.retainer {
        padding-left: 3px;
        background: #c9bd0a; }
      main .my-work-list .task-list .tasks .task-content .table td .btn-more-info {
        font-size: 11px;
        padding: 5px 10px;
        background-color: #00b098;
        border-width: 0;
        border-radius: 0;
        color: white; }
    main .my-work-list .task-list .individual-tasks {
      margin-top: 35px; }
  main .task-info {
    padding-bottom: 5px;
    border-bottom: 2px solid #201b50; }
    main .task-info .retainer-infos .retainer-info {
      margin-bottom: 1px;
      width: 250px;
      text-align: right;
      background: #cccccc; }
      main .task-info .retainer-infos .retainer-info .retainer-qty {
        float: right;
        color: white;
        width: 30px;
        text-align: center; }
        main .task-info .retainer-infos .retainer-info .retainer-qty.total-qty {
          margin-left: 10px;
          background: gray; }
        main .task-info .retainer-infos .retainer-info .retainer-qty.started-qty {
          margin-left: 10px;
          background: #c9bd0a; }
      main .task-info .retainer-infos .retainer-info .total-qty-label {
        font-size: 12px;
        color: gray;
        font-family: "Roboto", sans-serif;
        font-weight: 300; }
      main .task-info .retainer-infos .retainer-info .started-qty-label {
        font-size: 12px;
        color: #4d4d4d;
        font-family: "Roboto", sans-serif;
        font-weight: 300; }
    main .task-info .task-meta {
      font-size: 12px;
      color: gray; }
      main .task-info .task-meta .badge-retainer {
        font-size: 12px;
        text-transform: uppercase;
        border-radius: 0;
        font-family: "Roboto", sans-serif;
        font-weight: 300;
        background-color: #c9bd0a; }
    main .task-info .task-title h1 {
      margin: 15px 0;
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      color: #201b50;
      font-size: 24px; }
    main .task-info .task-desc p {
      font-family: "Roboto", sans-serif;
      font-weight: 400;
      color: gray;
      font-size: 12px; }
  main .task-dates {
    padding-top: 10px;
    padding-bottom: 10px;
    border-bottom: 2px solid #201b50; }
    main .task-dates .task-dates-meta {
      font-size: 12px;
      color: gray; }
    main .task-dates .task-dates-title h2 {
      margin: 5px 0;
      font-family: "Roboto", sans-serif;
      font-weight: 500;
      color: #333333;
      font-size: 18px; }
  main .task-related {
    width: 100%; }
    main .task-related .related-info {
      margin-bottom: 3px;
      width: 100%;
      text-align: left;
      background: white;
      height: 40px; }
      main .task-related .related-info .related-info-label {
        padding: 5px 10px;
        font-size: 12px;
        line-height: 14px;
        color: #4d4d4d;
        font-family: "Roboto", sans-serif;
        font-weight: 400; }
      main .task-related .related-info .related-info-icon {
        color: white;
        font-size: 18px;
        height: 40px;
        width: 40px;
        display: block;
        background: #cccccc; }
        main .task-related .related-info .related-info-icon.info {
          background: #f9b256; }
        main .task-related .related-info .related-info-icon.check {
          background: #00b098; }
  main .cs-comments label {
    font-size: 12px; }
  main .cs-comments textarea {
    font-size: 12px;
    height: 170px; }
  main .timesheet-entries {
    margin-top: 25px;
    padding: 25px;
    background: white; }
    main .timesheet-entries .timesheet-title .btn-add-timesheet {
      font-size: 24px;
      padding: 5px 10px;
      background-color: #ee2842;
      border-width: 0;
      border-radius: 0;
      color: white; }
    main .timesheet-entries .timesheet-title h1 {
      font-size: 18px;
      color: #333333; }
    main .timesheet-entries .table td .btn-update {
      font-size: 11px;
      padding: 5px 10px;
      background-color: #f26924;
      border-width: 0;
      border-radius: 0;
      color: white; }
  main .comments {
    margin-top: 25px;
    padding: 25px;
    background: white; }
    main .comments .comments-title .btn-add-comment {
      font-size: 24px;
      padding: 5px 10px;
      background-color: #ee2842;
      border-width: 0;
      border-radius: 0;
      color: white; }
    main .comments .comments-title h1 {
      font-size: 18px;
      color: #333333; }
    main .comments .user-comment {
      margin-top: 15px; }
      main .comments .user-comment .comment-info .comment-date-unit {
        color: gray;
        font-size: 12px; }
      main .comments .user-comment .comment-info .comment-author {
        font-family: "Roboto", sans-serif;
        font-weight: 500;
        display: block;
        color: gray;
        font-size: 20px; }
      main .comments .user-comment .comment {
        background: #e6e6e6;
        padding: 5px;
        font-size: 12px; }
